version: "3"
services:
  website:
    build:
      context: .
    ports:
      - "5000:5000"
  nginx:
    image: nginx:alpine
    volumes: 
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf  # :ro
      - ./nginx/.ssl:/etc/nginx/.ssl:ro
    depends_on:
      - website
    ports:
      - "9000:80"
      - "9443:443"

