<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<!-- set the encoding of your site -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{url_for('static',filename='images/logo1.1_notext.svg')}}" />
		<meta name="description" content="Bristol Hackspace is a community of people who run a workshop and creative space together. We are a place for people to share ideas, knowledge, and tools, and to work on projects in a collaborative and supportive environment. We are open to Members 24/7, and have a huge range of resources including woodworking, metalworking, 3D Printing etc.">
		
    	<link rel="me" href="https://assemblag.es/@BristolHackspace"/>

		<title>{% block title %}{% endblock %} - Bristol Hackspace</title>
		<meta property="og:title" content="{{ self.title() }} - Bristol Hackspace" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ request.base_url }}" />
		<meta property="og:image" content="{{url_for('static',filename='images/hackspacelogo300x300.png')}}">
		{% block metatags %}
        {% endblock %}

		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

	</head>
	<body>
		<header class="header">
		{% include "navbar.html" %}
		</header>

		<main class="main">
		{% block contents %}
		{% endblock %}
		</main>

		<footer class="footer">
		{% include "footer.html" %}
		</footer>
	</body>
</html>