<nav class="container navbar">
    <a href="{{ url_for('home') }}" class="nav-title">
        <img src="{{url_for('static', filename='images/logo1.1_notext.svg')}}" alt="Hackspace logo" width="80" height="80">
        <span>Bristol Hackspace</span>
    </a>
    <ul class="nav-menu">
        <li><a href="{{ url_for('visit') }}" class="nav-link">Visit us</a></li>
        <li><a href="{{ url_for('contact') }}" class="nav-link">Contact us</a></li>
        <li><a href="https://wiki.bristolhackspace.org/" class="nav-link">Wiki</a></li>
        <li><a href="https://bristolhackspace.discourse.group/" class="nav-link">Forum</a></li>
    </ul>
</nav>