{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block contents %}
<div class="container">
  {% include 'components/banner.html' %}
  <p>Bristol Hackspace is a community of people who run a workshop and creative space together. We are a place for people to share ideas, knowledge, and tools, and to work on projects in a collaborative and supportive environment.</p>
  <figure class="figure">
    <img src="{{url_for('static', filename='images/adt-room.jpeg')}}" alt="Two desks with sewing machines and a shadow-board of tools to the left of each of them." >
    <figcaption>Art, Design and Textiles room</figcaption>
  </figure>
  <p>The space is open to Members 24/7, and has a huge range of resources including woodworking, metalworking, 3D printing, laser cutting, electronics equipment, and much more.</p>
  <p>We are a member run not-for-profit organisation that aims to promote creativity, innovation, and collaboration within the local community - 100% led and maintained by our members and entirely funded though membership fees and donations.</p>
  <p>If you want to find out more, including how to join, then come down and meet us on one of our regular <a href="{{ url_for('visit') }}">open evenings</a>.</p>
</div>
{% endblock %}