{% extends "base.html" %}

{% block title %}{{ open_day.title }}{% endblock %}

{% block contents %}
<div class="container">
    <div class="banner">
        {{ open_day.banner_text }}
    </div>
    <div class="two-col">
        <div class="col-content">
            {{ open_day.body_html | safe }}

            <p><strong>Entry from - {{ open_day.entry_from }}</strong></p>
            <p><strong>Last entry - {{ open_day.last_entry }}</strong></p>

            <p>
                To help us gauge numbers, please reserve a free ticket on
                <a href="{{ open_day.ticket_url }}">TicketSource</a>.
            </p>

            {% if open_day.accessibility_note %}
                <p>{{ open_day.accessibility_note }}</p>
            {% endif %}
        </div>
        <div class="col-image">
            <figure class="figure">
                <img src="{{ url_for('static', filename='images/front-door-scaled.jpg') }}"
                     alt="Front door of the hackspace">
                <figcaption>Front door of the Hackspace</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}
