{% extends "base.html" %}

{% import 'wtforms.html' as wtf %}

{% block title %}Incident report{% endblock %}

{% block contents %}
<div class="container">
<p>Please use this form to report a health and safety incident. This includes:</p>
<ul>
    <li>A situation where someone is injured</li>
    <li>A situation where someone could have been injured</li>
    <li>A report of unsafe behavour</li>
</ul>
<p>This form should not be used to report anything else, such as broken or missing tools. Please report these on the forum instead.</p>

<form method="POST" class="form">
    <div>
        {{ form.hidden_tag() }}
        {{ wtf.input(form.name, form) }}
        {{ wtf.input(form.email, form) }}
        {{ wtf.input(form.who, form) }}
        {{ wtf.input(form.when, form) }}
        {{ wtf.input(form.describe, form) }}
        {{ wtf.input(form.resources, form) }}
        {{ wtf.input(form.actions, form) }}
        {{ wtf.input(form.privacy, form) }}
        <div id="mosparo-box"></div>

        <script src="https://mosparo.samp20.com/build/mosparo-frontend.js" defer></script>
        <script>
            var m;
            window.onload = function(){
                m = new mosparo(
                    'mosparo-box',
                    'https://mosparo.samp20.com',
                    '2d7e3bc0-472b-47ba-b2b8-6b12f7f27261',
                    '2tbufW9RltMQJ8sZQSf_B5P9vJtPZPMKwD5qg8bZRwQ',
                    {loadCssResource: true});
            };
        </script>
        <button type="submit" class="button">Submit</button>
    </div>
</form>
</div>
{% endblock %}