{% extends "base.html" %}

{% block title %}Visit Us{% endblock %}

{% block contents %}
<div class="container">
  {% include 'components/banner.html' %}
<p>If you are interested in joining you can book a free ticket to attend one of our bimonthly open evenings where you will receive a tour of the space, get a chance to ask any questions you have as well as the option to sign up as a member.</p>
<p>Please use the button below to book your ticket. There is no charge, this is so we know how many people to expect and don’t get overcrowded. To stop tickets from being booked out too far in advance they are only available to book from a week before the open evening.</p>
<p><a href="https://www.ticketsource.co.uk/bristol-hackspace"><img decoding="async" src="https://www.ticketsource.co.uk/images/bookNow/bookNow-black-small.png" alt="Book now"></a></p>
<div class="banner">Please note: Tickets have been known to "sell out" in less than a minute. It is not a bug, they are not being scalped, we are simply very popular!</div>
<p>After the tour you will be given the option to sign up as a member. If you think you may want to sign up on the night please bring photo ID and proof of address (drivers license is fine for both).</p>
<p>Potential members should be aware that joining our community means more than just having access to the Space. We expect all members to contribute to maintaining our facilities and keeping the space clean and organized. If you are not willing to help out and clean up after yourself, then our Hackspace may not be the right fit for you. We appreciate your understanding and look forward to welcoming those who are eager to be an active part of our community.</p>
<p>Please arrive promptly at the time shown on the ticket, if you arrive late you may still be able to have a tour but we cannot guarantee that you would be able to sign up as a member then and there and you may have to return on another open evening.</p>
<h2>Where to Find Us</h2>
<p>Our space is on the corner of Queen Victoria Street and Days Road, in St Philips. Our address is:</p>
<p>
    Bristol Hackspace<br>
    Unit B, Meridian Studios<br>
    Queen Victoria Street<br>
    BRISTOL<br>
    BS2 0QR
</p>
<p>Or find us on <a href="https://www.openstreetmap.org/#map=19/51.45280/-2.57291">Open Street Map</a> or <a href="https://www.google.co.uk/maps/place/Bristol+Hackspace/@51.4527053,-2.5730242,19.11z">Google Maps</a>.</p>
<h2>Parking</h2>
<p>If you're driving, please park on the street, there is plenty of space during the evenings. Please don't park on the forecourt of Meridian Studios, as it's reserved for other building users, or any of the forecourts of neighbouring businesses.</p>
<h2>Cycling</h2>
<p>There's a cycle anchor on the outside of the building for locking up to. Ask us where when you arrive. Members have access to a secure cycle store behind the building.</p>
<h2>Public Transport</h2>
<p>The Eurocoaches service <strong>61</strong> stops on Days Road, less than a minutes walk to the space.</p>
<p>Temple Meads Railway Station is about 12 minutes walk from the space via Meads Reach bridge and Oxford Street, past Dings Park.</p>
<ul>
    <li><strong>1</strong> to Broom Hill</li>
    <li><strong>2/2a</strong> to Stockwood</li>
    <li><strong>70/72</strong> to UWE Frenchay</li>
    <li><strong>73</strong> to Cribbs Causeway</li>
    <li><strong>91/92</strong> to Hengrove Park</li>
    <li><strong>A2</strong> to Bristol Airport</li>
</ul>
<p>The Old Market roundabout is around 15 minutes walk from the space via Midland Road.</p>
<ul>
    <li><strong>24</strong> to Southmead Hospital or Ashton Vale.</li>
    <li><strong>m2 metrobus</strong> to Long Ashton</li>
    <li><strong>park&ride</strong> to Shirehampton</li>
</ul>
</div>
{% endblock %}