[Unit]
Description=Hackspace web proxy
After=website.container
Requires=website.container

[Container]
ContainerName=HSNginx
Image=nginx:alpine

# Intended location
#Volume=/srv/nginx/nginx.conf:/etc/nginx/nginx.conf
#Volume=./nginx/.ssl:/etc/nginx/.ssl:ro

# if you have it on a dev box
Volume=/home/<USER>/Projects/website/nginx/nginx.conf:/etc/nginx/nginx.conf
Volume=/home/<USER>/Projects/website/nginx/.ssl:/etc/nginx/.ssl:ro

PublishPort=8080:80
PublishPort=8443:443
Network=nginx.network

[Service]
Restart=always

[Install]
WantedBy=default.target

